@use "../../../lib/theme" as theme;

.tui-sidebar {
  height: 100%;
  width: 200px;
  background: theme.$black-highlight;
  padding: 24px;
  align-self: stretch;

  .tui-btn {
    width: 100%;
    margin: 0;
    color: theme.$white;
    &:hover {
      background: theme.$black-bg;
    }
  }
}
